language: ruby
rvm:
  - 2.1
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rspec spec
bundler_args: --without development
addons:
  code_climate:
    repo_token: 243e5ab59244b7a1d3fb97d56bfe9961307ad558cb4a7cbeec3c85104e9ee11b
notifications:
  email:
    recipients:
      - joshua.muheim@access-for-all.ch
    on_failure: change
    on_success: change