.pastables
  == render 'images/images', images: images, heading_level: heading_level ||= 2 if can?(:crud, Image) && images.any?
  == render 'codes/codes',   codes:  codes,  heading_level: heading_level ||= 2 if can?(:crud, Code)  && codes.any?