= headline_with_flash User.model_name.human count: :other

/ Would be nice to do something like `= render @users, wrapper: true`, see http://stackoverflow.com/questions/22120292
== render 'users', users: @users, q: @q

h2.sr-only = t 'actions.actions'
== render 'shared/index/create_resource', resource: User
