markdown:
  Images can be pasted directly from the clipboard into the fields "Content" and "Notes":

  - Every image has an identifier: use it to reference the respective image URL. Example: For an identifier `123`, use a Markdown image definition like follows: `![An alt text](123)` (when pasting an image from the clipboard, the respective image definition is generated and inserted automatically).
  - Images whose identifier doesn't occur in the fields "Content" and "Notes" are deleted automatically. This way abandoned images are prevented.