markdown:
  ## Bilder können direkt aus dem Zwischenspeicher eingefügt werden

  - Jedes Bild hat eine eindeutige Kennzeichnung: nutze diese, um die entsprechende Bild-URL zu referenzieren. Beispiel: Für ein Kennzeichen `123`, verwende eine Markdown Bild-Definition wie folgt: `![Ein Alt-Text](@image-123)` (beim Einfügen eines Bildes aus dem Zwischenspeicher wird die entsprechende Bild-Definition automatisch generiert und eingefügt).
  - Bilder, deren Kennzeichnung in keinem der Felder "Inhalt" und "Notizen" auftauchen, werden automatisch beim Speichern gelöscht. Dadurch werden verwaiste Bilder vermieden.