.markdown
  table
    @extend .table
    @extend .table-bordered
    @extend .table-striped

  .figure
    @extend .img-thumbnail
    margin-bottom: 10px

    .caption
      margin-top: 4px
      margin-bottom: 0

  .figure
    +float-right

  h1, h2, h3, h4, h5, h6
    clear: both