body.pages
  &.edit
    .disabled.page_position
      display: none

  &.show
    .browsing
      .btn-group
        width: 100%

        .btn
          +ellipsis
          width: 50%
          white-space: nowrap
          text-align: center

          &.previous
            padding-left: 30px

            .fa
              position: absolute
              top: 9px
              left: 12px

          &.next
            padding-right: 30px

            .fa
              position: absolute
              top: 9px
              right: 12px