body.pages
  .simple_form
    .page_codes_title
      .col-sm-9
        padding-right: 128px

  &.show
    a.code:before
      font: normal 14px/1 FontAwesome
      content: "\f121\00a0"

    .notes
      +clearfix

    .additional_information
      dt
        text-align: left

    .browsing
      h2
        margin-top: 0

      .btn-group
        width: 100%

        .btn
          +ellipsis
          width: 50%
          white-space: nowrap
          text-align: center

          &.previous
            padding-left: 30px

            .fa
              position: absolute
              top: 9px
              left: 12px

          &.next
            padding-right: 30px

            .fa
              position: absolute
              top: 9px
              right: 12px