html
  height: 100%
  overflow-y: scroll // Always display vertical scrollbar to prevent "flickering" between pages that need it and pages that don't

body
  padding-top: 100000px

main
  margin:
    top: 51px    // Accommodate the navbar
    bottom: 60px // Accommodate the footer

#jump_links
  a
    position: fixed
    z-index: 1040
    left: 50%
    top: 0
    +transform(translate(-50%, 0))

    &:not(:focus)
      @extend .sr-only

h2
  font-style: italic // Make h2 more distinguishable from h1

.navbar-inverse
  .navbar-brand.active:hover,
  .navbar-brand.active
    background-color: #000
    color: #fff

.navbar
  .caret
    margin-left: 5px

  .glyphicon
    margin-right: 0

#meta_navigation
  img.avatar
    +border-radius(5px)
    margin: -15px 0
    height: 34px

  #dropdown_new_user
    .user_password
      margin-left: 0.5em

    .remember_me_and_submit
      margin-top: 0.5em
      text-align: right

      .btn
        margin-left: 0.5em

    .user_remember_me
      +float-left
      margin-top: 6px

      .boolean
        margin-right: 0.25em

    .visit_full_sign_in_page
      text-align: center

      hr
        clear: both
        margin-bottom: 5px

.alert
  .title
    font-weight: bold
    margin-bottom: 0.5em

.yamm
  .yamm-content
    padding: 8px 32px

.hide-text
  +hide-text
  display: inline-block

.translation_missing::after
  +single-text-shadow
  display: block
  content: 'translation missing'
  color: red
  position: absolute
  z-index: 1000
  font-size: 11px
  line-height: 1
  white-space: nowrap

select.datetime
  display: inline-block
  width: auto

.simple_form
  .panel-body
    padding-bottom: 0 // The .form-groups already add some spacing at the bottom

#footer
  position: fixed
  padding-top: $line-height-computed / 2
  bottom: 0
  width: 100%
  background-color: $navbar-inverse-bg
  color: $navbar-inverse-color

  .container
    background-color: $navbar-inverse-bg

  a
    color: $navbar-inverse-link-active-color