p Hallo #{@resource.email}!

p Jemand hat einen Link angefordert, um dein Passwort zu ändern. Du kannst das über den unten stehenden Link tun.

p = link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token, locale: 'de')

p Falls du dies nicht angefordert hast, ignoriere diese Mail einfach.

p Dein Passwort wird sich nicht ändern bis du den obigen Link geöffnet und ein neues eingegeben hast.
